streamlit==1.35.0
streamlit-drawable-canvas==0.9.3
torch==2.2.2
torchvision==0.17.2
ultralytics==8.3.130
opencv-python-headless==4.9.0.80
gdown==5.1.0
pillow==9.5.0
numpy==1.24.4
pandas==2.1.4
matplotlib==3.7.1
fpdf==1.7.2
