streamlit==1.28.2
streamlit-drawable-canvas==0.9.3
torch==2.0.1
torchvision==0.15.2
ultralytics==8.0.178
opencv-python-headless==4.7.0.72
gdown==4.7.1
pillow==9.5.0
numpy==1.24.4
pandas==2.1.0
matplotlib==3.7.1
fpdf==1.7.2
